{% extends 'base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block monTitre %}
Personnage {{ perso.pseudo }}
{% endblock %}






{% block body %}

<div class="row">
    <div class="col-2">
        <img src="{{asset('images/personnages/' ~ perso.pseudo ~ '.png')}}" alt="" srcset="">
    </div>
    <div class="col">
        <h2>{{ perso.pseudo }}</h2>
        <div>

            {% if perso.sexe %}
            Homme
            {% else %}
            Femme
            {% endif %}


        </div>

        <h3>Les caractéristiques : </h3>
        <ul>
            <li>Force : {{ perso.caracteristiques.force }}</li>
            <li>Agilité : {{ perso.caracteristiques.agilite }}</li>
            <li>Intelligence : {{ perso.caracteristiques.intelligence }}</li>
        </ul>
    </div>
</div>




{% endblock %}